* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   font-family: "Century Gothic";
   overflow-x: hidden;
}
.navbar-bg {
   background: black;
}
.nav-link {
   font-family: "Poppins";
   font-weight: bold;
   font-size: 20px;
   color: white !important;
}
.nav-item {
   padding: 0 1rem;
}
.search {
   font-family: "Poppins";
   border-radius: 50px;
   font-weight: bold;
   font-size: 14px;
   color: white;
}
button, .btn-button {
   background: #E13B63;
   height: 5rem;
   color: white;
   border-radius: 2px;
   border: none;
}
h2 {
   font-family: Muli;
   font-weight: 600;
   font-size: 2.5rem;
}
#Africa-top-barbershop {
   left: 25rem;
   top: 17rem;
   position: absolute;
}
#Africa-top-barbershop h2 {
   font-family: "Poppins";
   font-weight: bold;
   font-size: 3.4375rem;
}
#Africa-top-barbershop > p {
   font-size: 1.375rem;
}
#Africa-top-barbershop button {
   width: 18.75rem;
   font-weight: bold;
   font-size: 18px;
}
.About-us-container {
   margin-top: 5rem;
}
.About-us-section {
   margin-top: 3rem;
   margin-left: 4rem;
}
.About-us-section >p {
   margin-top: 2rem;
}
/* .About-us img {
   width: 32.399375rem;
   height: 23.02125rem;
   border-radius: 3.68731px 36.8731px 36.8731px 36.8731px;
} */
#Read-more-button {
   width: 16.125rem;
   height: 5rem;
   margin-top: 2.5rem;
}
.Our-best-services-bg {
   background: #F9F9F9;
   margin-top: 5rem;
}

@media only screen and (max-width: 1200px) {
   #Africa-top-barbershop {
      position: absolute;
      left:14rem;
      top: 12rem;
   }
   .Email-group {
      display: grid;
      grid-template-columns: 65% 30%; 
   }
} 
.Our-best-services {
   padding: 3.125rem 0 3.125rem 0;
}

.best-services-body {
   padding: 3.375rem;
}
.haircut {
   margin: 2.5rem;
}
.Our-best-services-header {
   margin-bottom: 2.5rem;
}
.pricing-header {
   margin: 5rem 0 3.125rem;
}
.pricing-body-header {
   margin: 1.5rem 0 2.5rem;
   font-family: Muli;
   font-weight: 600;
   font-size: 32px;
}
.beard-shaving-container {
   margin: 3.125rem 0 5rem;
}
.beard-shaving-body {
   padding: 4rem !important;
}
.card-body span {
   float: right;
}
.card-body-text-pricing {
   padding-bottom: 1.5rem;
}
.book-now {
   width: 14.3125rem;
   margin: 3.125rem 1.25rem;
   font-family: Poppins;
   font-weight: bold;
   font-size: 24px;
}

.fa {
   color: #E13B63;
   margin-bottom: 2rem;
   border: 2px #E13B63 solid;
   border-radius: 50%;
   padding: 5px;
   margin: 0 0.5rem;
}

.Our-creative-barber-section {
   padding: 2rem 0 2rem 0;
}

.creative-barber-body-header {
   font-family: Muli;
   font-size: 32px;
   color: #E13B63;
}
.creative-barber-header {
   margin: 2rem 0 4rem 0;
}

.dot {
   cursor: pointer;
   height: 10px;
   width: 10px;
   margin: 0 2px;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.6s ease;
   margin: 20px 0px;
 }
 
 .active, .dot:hover {
   background-color: #717171;
 }
.form-details {
   margin: 1rem 0 1rem 0;
}
.Appointment-input {
   height: 5rem;
   font-family: "Poppins";
   font-weight: bold;
   font-size: 24px;
}
.Get-appointment {
   margin: 5rem 0 3.125rem 0;
}
.appointment-submitBtn {
   width: 16.125rem;
   margin-top: 3.125rem;
   font-family: "Poppins";
   font-weight: bold;
   font-size: 24px;
}
.Reviews img {
   margin: 3.125rem 0 3.125rem 0;
}
.reviews-text {
   padding: 0 2rem 0 2rem;
}
.Reviews-dot-group {
   margin: 5.25rem 0 3rem 0;
}
.Contact-Us {
   margin-bottom: 5rem;
}
.Contact-Us-header {
   margin: 3rem 0 3rem 0;
}
.Contact-Us img {
  margin-top: 3.5rem;
}
.footer-links {
   margin-top: 5rem;
}
.social-media-header {
   font-family: "Poppins";
   font-weight: bold;
   font-size: 22px;
}
.Email-group {
   display: grid;
   grid-template-columns: 70% 20%; 
   grid-column-gap: 2rem;
}
.social-media-links {
   display: grid;
   grid-template-columns: 60% 35%; 
   grid-column-gap: 2rem;
}
.footer-logo {
   width: 20%;
   float: right;
}
.copyright {
   font-family: "Poppins";
   font-weight: bold;
   font-size: 18px;
   margin: 5rem 0 3rem 0;
}
@media only screen and (max-width: 900px) {
   #Africa-top-barbershop {
      position: absolute;
      left:6rem;
      top: 10rem;
   }
}

