/* SCROLL UP BUTTON FUNCTIONALITY CSS */
#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: #E13B63;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#myBtn:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}

/* SCROLL UP BUTTON FUNCTIONALITY CSS */


inputs::placeholder {
    font-weight: bold;
    color: white;
}

.hove:hover {
    border-bottom: 3px solid white;
}

.carousel-item img {
    height: 520px;
}

.contains {
    position: relative;
    max-width: 800px;
    /* Maximum width */
    margin: 0 auto;
    /* Center it */
}

.contains .content {
    position: absolute;
    /* Position the background text */
    bottom: 0;
    /* At the bottom. Use top:0 to append it to the top */
    /* Fallback color */
    color: #f1f1f1;
    /* Grey text */
    width: 100%;
    /* Full width */
    padding: 20px;
    /* Some padding */
}

.posis {
    top: -60px;
    transform: rotate(90deg);
}



@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .tiny-font {
        font-size: 40px;
    }

    .pad-below {
        padding-bottom: 10px;
    }

    .pad-below-2 {
        margin-bottom: 27px;
    }

    .mag-below-3 {
        margin-bottom: 40px;
    }

    .mag-below {
        margin-bottom: 10px;
    }

    .small-font {
        font-size: 13px;
    }
}