body,
html {
  width: 100%;
  height: 100%; 
}

div.photo{
    background-image: url(../images/v4/TOPNAV\ CONTAINER\ \(1\).png);
    background-size: 100% 100%;
    padding: 15% 15% 15% 15%;
}

.africa{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#home{
    color: #E13B63;
}
#red{
    color: #E13B63;
}

.btn-primary, .btn-primary:hover{
    background-color: white;
    border-color: white;
}

h3.about{
 line-height: 5em;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p.about{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:1% 1% 1% 1%;
}

section.ourservices{
    background-color:#E5E5E5;;
}

h3.ourservices{
    line-height: 5em;
}

div.top, h5.services{
    background-color: #162838;
}
p.services{
    background-color: #ffffff;
    padding: 5%;
}
h3.top{
    line-height:5em;
}
div.break{
    background-color: white;
    line-height: 5em;
}

h3.pricing{
    line-height: 5em;
}

section.boss{
    background-image: url(../images/v4/APPOINTMENT\ CONTAINER.png);
    background-size: 100% 100%;
    padding: 5% 15% 15% 15%;
}
.cols{
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: aliceblue;
}

.cool{
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: aliceblue;
    height: 8cm;
}


h3.boss, .ctext, .gallery, h3.contactus, h3.end{
    line-height: 5em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header.contactus {
    line-height: 3em;
    background-color: #162838;
    font-family: Century Gothic;
    font-style: bold;
}

.message{
    background-color: rgba(255, 255, 255);
    border: 2px solid #E5E5E5;
    color: black;
    height: 8cm;
}

.last{
    background-color: #000000;
}
.btn-form.btn-primary{
    background-color: #162838;
}
#pricelist{
    color: #162838;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}